<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
  <style>
    #mapa {
      height: 100%;
      width: 100%;
    }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #floating-panel {
      position: absolute;
      margin-top: 20px;
      left: 40%;
      z-index: 5;
      text-align: center;
      font-family: 'Roboto', 'sans-serif';
    }

    #przycisk {
      padding: 10px;
      background-color: #ffffff;
      font-size: 1.5rem;
      border-radius: 8px;
    }

  </style>
</head>
<body>

<div id="floating-panel">
  <input id="przycisk" onclick="pokazWszystkie();" type=button value="Wyczyść">
</div>
<div id="mapa"></div>

<script>

    var klucz = 'AIzaSyBpXvsFn3qL2eaMdpWQeW-o5DQoPpkngAI'
    var szukaj = 'https://maps.googleapis.com/maps/api/geocode/json?address='
    var lacznik = '+PL&key='
    var mapa;
    var polaczenia = {}
    var znaczniki = {}
    var x = 0
    var miasta = []

    function initMap()
    {
        var srodek = {lat: 52, lng: 19};
        mapa = new google.maps.Map(document.getElementById('mapa'), {
            zoom: 7,
            center: srodek
        });



        $.getJSON('http://localhost:3000/mapa/json', function (rozklad)
        {
            for (var i in rozklad)
            {
                $.getJSON(szukaj + i + lacznik + klucz, function (dane)
                {
                    miasto = {lat: dane.results[0].geometry.location.lat, lng: dane.results[0].geometry.location.lng}
                    nazwa = dane.results[0].address_components[0].long_name
                    znaczniki[nazwa] = new google.maps.Marker({
                        position: miasto,
                        map: mapa,
                        title: nazwa
                    });

                    znaczniki[dane.results[0].address_components[0].long_name].addListener('click', function ()
                    {
                        ustawDlaWszystkich(null);
                        przywrocNazwy();
                        znaczniki[dane.results[0].address_components[0].long_name].setMap(mapa);
                        znaczniki[dane.results[0].address_components[0].long_name].setAnimation(google.maps.Animation.BOUNCE);


                        for (var i in znaczniki)
                        {
                            if (i == dane.results[0].address_components[0].long_name)
                            {

                                for (var stacja in rozklad[i])
                                {
                                    if (stacja != undefined)
                                    {
                                        console.log(stacja)
                                        if (rozklad[i][stacja] != undefined)
                                        {
                                            for (var j = 0; j < rozklad[i][stacja].length; j++)
                                            {
                                                if (rozklad[i][stacja][j] != undefined)
                                                {
                                                    if (polaczenia[rozklad[i][stacja][j].miastoDocelowe] == undefined)
                                                    {
                                                        polaczenia[rozklad[i][stacja][j].miastoDocelowe] = rozklad[i][stacja][j].miastoDocelowe;
                                                    }

                                                    var info = "\n" + stacja + ' [' + rozklad[i][stacja][j].odj + ']' +' => ' + rozklad[i][stacja][j].stacjaDocelowa + ' [' + rozklad[i][stacja][j].przyj + ']';
                                                    polaczenia[rozklad[i][stacja][j].miastoDocelowe] += info;

                                                    if (znaczniki[rozklad[i][stacja][j].miastoDocelowe] != undefined)
                                                    {
                                                        znaczniki[rozklad[i][stacja][j].miastoDocelowe].setMap(mapa)
                                                        var info = rozklad[i][stacja][j].odj
                                                        console.log(info)

                                                        znaczniki[rozklad[i][stacja][j].miastoDocelowe].setTitle(znaczniki[rozklad[i][stacja][j].miastoDocelowe].getTitle + info);
                                                    }

                                                }

                                            }
                                        }
                                    }


                                }


                                for (var p in polaczenia)
                                {
                                    znaczniki[p].setTitle(polaczenia[p]);
                                }
                            }
                            else
                            {
                                //znaczniki[i].setMap(null)
                            }
                        }


                    });

                    miasta[nazwa] = miasto

                });
            }
        });


    }

    function ustawDlaWszystkich(mapa)
    {
        for (var i in znaczniki)
        {
            znaczniki[i].setMap(mapa);
        }
    }


    function pokazWszystkie()
    {
        ustawDlaWszystkich(mapa);;
        przywrocNazwy();
    }


    function przywrocNazwy()
    {
        for (var i in znaczniki)
        {
            znaczniki[i].setTitle(i);
            polaczenia = {}
        }
    }


</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpXvsFn3qL2eaMdpWQeW-o5DQoPpkngAI&callback=initMap">
</script>

<script>
    initMap()
</script>

</body>
</html>
