<!DOCTYPE html>
<html>
<head>
  <style>
    #mapa
    {
      height: 100%;
      width: 100%;

      margin-top: 40px;
    }

    html, body
    {
      height: 100%;
      margin: 0;
      padding: 0;
    }

  </style>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<script>
    function wyrownaj(wartosc)
    {
        if (wartosc.length == 1)
        {
            wartosc = '0' + wartosc;
        }

        return wartosc
    }


    function na_ludzki_czas(czas)
    {
        var godzina = Math.floor(czas / 60);
        var minuta = czas % 60;

        return wyrownaj(godzina.toString()) + ':' + wyrownaj(minuta.toString())
    }

    $.getJSON('http://localhost:3000/algorytm/pobierz_wynik', function (podroz)
    {


        for (var i in podroz)
        {
          /*var li = document.createElement("li");
           var polaczenie = document.createTextNode('Z: ' + podroz[i]['stacja_poczatkowa'] + ' [' + na_ludzki_czas(podroz[i]['odjazd']) + '] -> do: ' + podroz[i]['stacja_docelowa'] + ' [' + na_ludzki_czas(podroz[i]['przyjazd']) + '], pociąg: ' + podroz[i]['pociag']);
           li.appendChild(polaczenie);
           document.getElementById("lista").appendChild(li);*/

            var tr_polaczenie = document.createElement("tr");
            var td_skad = document.createElement("td");
            var td_dokad = document.createElement("td");
            var td_odjazd = document.createElement("td");
            var td_przyjazd = document.createElement("td");
            var td_pociag = document.createElement("td");

            var skad = document.createTextNode(podroz[i]['stacja_poczatkowa']);
            var dokad = document.createTextNode(podroz[i]['stacja_docelowa']);
            var odjazd = document.createTextNode(na_ludzki_czas(podroz[i]['odjazd']));
            var przyjazd = document.createTextNode(na_ludzki_czas(podroz[i]['przyjazd']));
            var pociag = document.createTextNode(podroz[i]['pociag']);

            td_skad.appendChild(skad);
            td_dokad.appendChild(dokad);
            td_odjazd.appendChild(odjazd);
            td_przyjazd.appendChild(przyjazd);
            td_pociag.appendChild(pociag);

            tr_polaczenie.appendChild(td_skad);
            tr_polaczenie.appendChild(td_dokad);
            tr_polaczenie.appendChild(td_odjazd);
            tr_polaczenie.appendChild(td_przyjazd);
            tr_polaczenie.appendChild(td_pociag);

            document.getElementById("tabela").appendChild(tr_polaczenie);
        }
    });
</script>
<div class="w3-col l2 m2 s0">
  <p></p>
</div>
<div class="w3-col l8 m8 s12">
  <div class="tytul">Wyznaczona trasa – <%= IO.read('/home/jg/Pulpit/wynik_koszt')%></div>
  <!--
  <ul id="lista">
  </ul>
  -->

  <table id="tabela">
    <tr>
      <th>Ze stacji</th>
      <th>Do stacji</th>
      <th>Czas odjazdu</th>
      <th>Czas przyjazdu</th>
      <th>Pociąg</th>
    </tr>
  </table>

  <br/><br/>

  <div class="w3-center">
    <a href="/" class="przycisk ciemnoczerwony">Powrót do ustawień</a>
  </div>

  <br/><br/><br/><br/>
</div>
<div class="w3-col l2 m2 s0">
  <p></p>
</div>

<div id="mapa"></div>


<script>

    var klucz = 'AIzaSyBpXvsFn3qL2eaMdpWQeW-o5DQoPpkngAI'
    var szukaj = 'https://maps.googleapis.com/maps/api/geocode/json?address='
    var lacznik = '+PL&key='
    var mapa;
    var polaczenia = {};
    var znaczniki = {};
    var x = 0;
    var miasta = [];
    var nazwa;
    var miasto;
    var linie = [];

    function initMap()
    {
        var srodek = {lat: 52, lng: 19};
        mapa = new google.maps.Map(document.getElementById('mapa'), {
            zoom: 7,
            center: srodek
        });


        $.getJSON('http://localhost:3000/algorytm/pobierz_wynik', function (podroz)
        {
            var plan_podrozy = [];
            var start = {lat: podroz[podroz.length - 1]['lat'], lng: podroz[podroz.length - 1]['lng']};
            plan_podrozy.push(start);

            for (var i in podroz)
            {
                var wspolrzedne = {lat: podroz[i]['lat'], lng: podroz[i]['lng']};
                plan_podrozy.push(wspolrzedne)
            }


            var trasa = new google.maps.Polyline({
                path: plan_podrozy,
                geodesic: true,
                strokeColor: '#118822',
                strokeOpacity: 0.6,
                strokeWeight: 5
            });

            trasa.setMap(mapa);


        });


    }
</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpXvsFn3qL2eaMdpWQeW-o5DQoPpkngAI&callback=initMap">
</script>

<script>
    initMap()
</script>

</body>
</html>
